{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
{% include 'mypage/mypage_navbar.html' %}


    {% if review_list %}
    {% set count = namespace(value=0) %}
    {% for review in review_list %}
    {% if user.id == review.user_id %}
         {% set count.value = count.value + 1 %}
    {% endif %}
    {% endfor %}
        <h5 class="link_mypage"><strong>작성 후기 {{ count.value }}개</strong></h5>
    {% endif %}

    <div class="recommend_product" style="font-size: 13px">
          <table class="table">
        <thead>
        <tr class="text-center list_category">
            <th>번호</th>
            <th>제품명</th>
            <th style="width:50%">내용</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        {% if review_list %}
        {% for review in review_list %}
        {% if user.id == review.user_id %}
        <tr>
            <td class="text-center">{{ review.id }}</td>
            <td>
                {% if product_list %}
                {% for product in product_list %}
                {% if review.product_id == product.id %}
                    {{ product.subject }}
                {% endif %}
                {% endfor %}
                {% endif %}
            </td>
            <td class="text-left">
                <a href="{{ url_for('product.detail', product_id=review.product_id) }}" style="text-decoration: none; color: black">{{ review.content }}</a>
            </td>
            <td class="text-center">{{ review.create_date|datetime}}</td>
        </tr>
        {% endif %}
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">내용이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}