<img src="{{ url_for('static', filename = 'brand/' + category + '_banner.jpg') }}" class="banner_img"/>
<hr class="nav_hr">

<!--{% if category =='heyroo'%}-->
<!--<div>-->
<!--    <div class="banner_title">HEYROO</div>-->
<!--    <div class="banner_content">'HEYROO'는 CU의 PB 브랜드로 꼭 필요한 것들만 골라 커다란 주머니에 담은 캥거루를 모티브로 했습니다.</div>-->
<!--    <div class="banner_content2">친근한 인사말 HEY와 캥거루를 상징하는 ROO의 합성어로 ‘정성스럽게 가치를 담아 전달하는 좋은 친구’라는 의미입니다.</div>-->
<!--</div>-->
<!--{% elif category =='youus'%}-->
<!--<div>-->
<!--    <div class="banner_title">YOUUS</div>-->
<!--    <div class="banner_content2">'YOUUS'는 YOU(고객)와 US(고객+GS리테일)의 합성어로 고객과 GS리테일이 하나 되는 마음으로 선택한 상품이라는 의미를 담고 있습니다.</div>-->
<!--</div>-->
<!--{% elif category =='sselect'%}-->
<!--<div>-->
<!--    <div class="banner_title">7-SELECT</div>-->
<!--    <div class="banner_content2">'7-SELECT'는 좋은 품질, 합리적인 가격의 상품을 골라 고객에게 제공하겠다는 의미가 담겨있습니다.</div>-->
<!--</div>-->
<!--{% elif category =='minist'%}-->
<!--<div>-->
<!--    <div class="banner_title">MIN1ST</div>-->
<!--    <div class="banner_content2">'MIN1ST'는 미니스톱의 첫 번째 대표상품임을 알리는 동시에 고객에게 최고의 만족을 줄 수 있는 상품이라는 의미를 담았습니다.</div>-->
<!--</div>-->
<!--{% endif %}-->